@font-face { font-family: Impact; src: url('./impact/impact.ttf'); }

html, body {
	font-family: sans-serif;
  background-color: #3366ff;
}

h1 {
	font-family: impact;
	text-align: center;
	font-size: 60px;
}

a {
	text-decoration: underline;
	color: white;
}

button {
  color: black;
  background-color: #ffe4a9;
  padding: 1% 1.5%;
  margin: 1%;
  text-decoration: none;
	border: none;
	border-radius: 12px;
  cursor: pointer;
	transition: 0.5s;
}
button:hover {
  background-color: #ffaf00;
}

td {
	border: 1px solid black
}


.buttonlink {
	text-decoration: none;
}

.menubar {
	text-align: right;
	list-style-type: none;
}

.menubar li {
	margin: 5px;
	display: inline;
}

.menubar a {
  color: black;
  text-decoration: none;
  margin: .4%;
}

.NEWS {
  margin: 0;
  padding: .3rem;
  background-color: #87a5ff;
	border: 4px solid lime
}
